/*
 * Mui maailma!
 * moi
 */
.header {
    /*
     * This is a really important message!
     * With several lines
     */
    font-size: 32px;
    font-family: monospace;
    color: #f8f8f8;
}
#mui, #hei {
    font-family: monospace;
    box-shadow: 3px 2px 1px #333;
}
